@using Attendance_MAnagement_System.Data.Enum
@using Attendance_MAnagement_System.ViewModels
@model LoginViewModel
<div class="row">
    <div class="col-md-6 offset-3">
        <p>
            <h4>Log in to your account</h4>
        </p>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="EmployeeId" class="control-label"></label>
                        <input asp-for="EmployeeId" class="form-control">
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeName" class="control-label"></label>
                        <input asp-for="EmployeeName" class="form-control">
                        <span asp-validation-for="EmployeeName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="role">Choose Role</label>
                        <select asp-for="role" asp-items="@Html.GetEnumSelectList<RoleCategory>()" class="form-control form-control-lg">
                            <option>----Select----</option>

                        </select>
                        <span asp-validation-for="role" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-success float right" type="submit" value="Log in" />
                        <a class="btn btn-outline-secondary" asp-controller="Club" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
